@font-face{font-family:"Chinese Rocks";src:url("../fonts/chinese-rocks.ttf") format("truetype");font-weight:400;font-style:normal;font-display:swap}
@font-face{font-family:"Redemption";src:url("../fonts/redemption.ttf") format("truetype");font-weight:400;font-style:normal;font-display:swap}
@font-face{font-family:"RDR Lino";src:url("../fonts/rdr-lino.ttf") format("truetype");font-weight:400;font-style:normal;font-display:swap}
